<%-include ("partials/header.ejs") %>
<body>
    <main>
        <% isEditable = (locals.blogtitle && locals.blogauthor && locals.blogcontent);%>
            <h1><%=isEditable?"Edit your post":"Write new post"%></h1>
            <form action="<%=isEditable?'/update-blog/'+blogindex:'/post-blog'%>" method="POST">
                <input type="text" name="blog-title" id="blog-title" placeholder="Enter title of blog" required value="<%=isEditable?blogtitle:''%>">
                <input type="text" name="blog-author" id="blog-author" placeholder="Enter author of blog" required value="<%=isEditable?blogauthor:''%>">
                <textarea name="blog-content" id="blog-content" cols="30" rows="10" placeholder="Write your blog"><%-isEditable?blogcontent:''%></textarea>
                <input type="submit">
            </form>
    </main>
</body>