<%-include ("partials/header.ejs") %>
<body>
    <main>
        <h1>Blog posts</h1>
        <%if(locals.blogposts.length > 0){%>
            <% blogposts.forEach((blog, index) => { %>
                <div class="blog-post">
                    <h2><%= blog.title %></h2>
                    <p>Written by <%= blog.author %></p>
                    <p><%= blog.content %></p>
                    <div class="post-options">
                        <form method="post" action="/delete/<%= index %>">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        <%}else{%>
                <h2>No Blogs posted yet</h2>
            <%}%>
        </div>
    </main>
</body>